.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 10px;
}

.dropdown-menu {
  min-width: auto;
}

#aside-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #f8f9fa;
  z-index: 1050;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  border-right: 1px solid rgb(128, 128, 128);
}
#aside-menu.show {
  transform: translateX(0);
}
